<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fr.gabuzomeu.networkwidget"
      android:versionName="0.12" android:versionCode="4">
    <application android:icon="@drawable/icon" android:label="@string/app_name">


<receiver android:name=".NetworkWidget" android:label="@string/app_name">
    <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         <action android:name="android.net.ConnectivityManager.CONNECTIVITY_ACTION" />
         <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    </intent-filter>
    
    <intent-filter>
        <action android:name= "fr.gabuzomeu.NetworkWidget.WIFI_TOGGLE" />
        <data android:scheme="network_widget" />
     </intent-filter>
    
    
    <meta-data android:name="android.appwidget.provider"
               android:resource="@xml/network_widget" />
</receiver>


    </application>
    <uses-sdk android:minSdkVersion="3" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest> 